@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* reset */
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:  var(--text-font-family);
    text-decoration: inherit;
    color: var(--items-text-color);
}

html, body {
    font-size: var(--global-font-size);
}
.flex {
   height: 5rem;
   align-items: center;
}

a{
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   padding-left: 1.25rem;
   padding-right: 1.25rem;
   font-weight: 500;
   transition: all ease-in-out 150ms;
   opacity: 1;
}
a:hover {
   font-weight: 500;
    color: var(--item-text-hover-color);
    cursor: pointer;
    
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .wrapper .container {
    width: 100%;
    max-width: var(--container-max-w);
 }
 .flex {
    display: flex;
 }
 /* Navbar */
 nav {
    background-color: var(--background-color);
 }
 nav .nav__logo img {
    width: 32px;
    height: 32px;
    cursor: pointer;
 }

 nav .nav__menu{
   display: flex;
    flex-grow: 1;
    gap: 36px;
 }
 /*End Navbar */
 